* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  --cor-black: #000000;
  --cor-white: #ffffff;
  --color-box: #d6d9e0;
  --color-name-tenis: #7ca2f4;
}

/* Estilização NAV */
nav {
  width: 100%;
  height: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
}
nav p {
  font-size: 18px;
}

nav img {
  margin-right: 10px;
  width: 40px;
  height: auto;
}

/* Estilização HEADER */
/* wallpaper */
.wallpaper {
  width: 100%;
  height: 400px;
  position: relative;
  background-color: var(--cor-black);
}

.wallpaper img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 50% 1%;
  opacity: 0.3;
}

/* texto e logo */
.main-header {
  top: 150px;
  margin-left: 40px;
  position: absolute;
}

.main-header-img img {
  width: 200px;
  height: auto;
}

.text-header {
  margin-top: 10px;
  color: var(--cor-white);
}

.text-header h2 {
  font-size: 25px;
  font-weight: bold;
}

.text-header p {
  margin-top: 10px;
  font-size: 18px;
}

/* Estilização MAIN */

main {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.text-intro {
  width: 100%;
  height: auto;
  margin-top: 30px;
  text-align: center;
}

.text-intro h2 {
  font-size: 25px;
  margin: 10px;
}

.text-intro p {
  font-size: 18px;
}

.tenis {
  width: 100%;
  height: auto;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.box-tenis {
  width: 100%;
}

.box-tenis img {
  width: 230px;
}

.img-tenis {
  width: 100%;
  height: auto;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  background-color: var(--color-box);
}

.description {
  width: 100%;
  text-align: start;
  font-size: 18px;
}

.model-tenis {
  font-size: 15px;
  margin: 8px 0;
  color: var(--color-name-tenis);
}
